/*Ordem das tags formatadas: 
1- As tags diretas
2- Id's
3- Classes*/

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 1em;
    font-family: Sitka Text Semibold;
    background: #e6e6e6;
    position: relative;
}

a:link, a:visited{
    
    color: #1e053d;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-decoration: none; 
}

h3 {
    color: black;
    width: 170px;
    margin-left: 28px;
    margin-top: 20px;
    border: 1px solid gray;
    background: rgb(139, 173, 247);
    padding: 5px;
    border-radius: 4px;
}

#area-cabecalho {
    background-color: orange;
    padding: 15px;
    text-align: center;
    height: 125px;
    top: 40px;
}

#area-logo {
    position: relative;
    top: 20px;
    font-size: 25px;
    margin-top: -18px;
    padding-left: 280px;
}

#area-menu {
    position: relative;
    top: 43px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 12px;
    padding-left: 10px;
   
    width: 700px;
    margin-left: 220px;
    
}

/*.navegacao {
    background: orange;
    width: auto;
    height: 140px;
}*/

.conteudo-redirecionador {
    padding: 10px;
    text-decoration: none;
    color: chartreuse;
    font-size: 17.5px;
}



.segunda-parte-logo {
    color: white;
    font-size: 47px;
    
}

.area-noticia-antes {
    position: relative;
    background: #FFF;
    margin-top: 20px;
    margin-left: 250px;
    padding: 20px;
    width: 660px;
    border-radius: 13px;

}

.rodape {
    position: relative;
    background: #FFF;
    margin-top: 20px;
    margin-left: 250px;
    width: 660px;
    border-radius: 13px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    text-align: center;
    
}

.imagens-noticias {
    border-radius: 10px;
    width: 500px;
    padding-left: 77px;
}

.primeira-parte-logo {
    font: bold;
}

.conteudos-secundarios {
    display: inline;
}

.barra-noticias-recentes {
    background: #FFF;
    width: 240px;
    position: relative;
    float: right;
    margin-top: 175px;
    margin-right: 295px;
    border-radius: 13px;
    height: 474px;
} /*codigo para tela de notebook */

/*.recentes {
    background: #FFF;
    width: 240px;
    position: relative;
    float: right;
    margin-top: 175px;
    margin-right: 135px;
    border-radius: 13px;
    height: 470px;
}*/



.titulos-noticias-recentes {
    font-size: 12px;
    padding: 10px;
}

.links-leia-mais {
    font-size: 12px;
    padding: 10px;
    
}



